[Unit]
Description=Service to launch MozillaVPN linuxdaemon

[Service]
Type=Simple
ExecStart=mozillavpn linuxdaemon

[Install]
WantedBy=multi-user.target